@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');

:root {
    --main-grey: #252527;
    --main-black:#0A0A0A;
    --second-grey:#BFBFBF;
    --second-black:#1C1C1C;
    --main-red:#EF3520;
    --main-green: #79bc3b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    grid-template: 70px 2fr 2fr 2fr 2fr/ 1fr;
    grid-template-areas: 
        "header"
        "main"
        "trending"
        "aside"
        "forum-rev"
        "footer";
        background-color: var(--main-black);
}
header > a {
        text-decoration: none;
    }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: var(--main-grey);
    padding: 0px 50px 0px 50px;

    
    h1 {
        font-family: "Bungee Tint", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 5px;
        text-decoration: none;

    }
    
    nav img {
        filter: invert(60%);
    }
    nav,
    usernick {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: var(--second-grey);
    }

    .catalog,
    .search,
    .forum {
        display: flex;
        gap: 10px;
    }

    user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    button {
        border: none;
        background-color: var(--main-red);
        height: 30px;
        width: 80px;
        border-radius: 10px;
    }
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: main;

    h5 {
        font-size: 5rem;
        color: var(--second-grey);
        margin-top: 20px;
    }

    .library {
        height: 300px;
        width: 1000px;
        background-color: var(--second-black);
        border-radius: 13px;
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 20px;
    }

    .book img {
        height: 220px;
        width: 150px;
        border-radius: 13px;
        object-fit: cover;
        transition: box-shadow 0.3s ease;
    
    }
    .book h3 {
        color: var(--second-grey);
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 1rem;
    }
    .book p {
        color: var(--second-grey);
        filter: contrast(5%);
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-size: 0.8rem;
    }

    a {
        text-decoration: none;
        color: var(--second-grey);
    }
    .book img:hover {
        box-shadow: 0 0 15px var(--main-red);
    }

}

section {
    grid-area: trending;
    justify-self: center;
    height: 460px;
    width: 1200px;
    background-color: var(--second-black);
    margin-top: 20px;
    border-radius: 13px;

    .trending-manga {
        display: grid;
        grid-template: 30px 400px/ repeat(3, 1fr);
        grid-template-areas: 
        "top top top"
        "main1 main2 main3";
        border-radius: 13px;
        overflow: hidden;

        h2 {
            color: var(--second-grey);
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            font-size: 1.2rem;
        }

        h3 {
            padding-left: 20px;
            filter: contrast(10%);
            color: var(--second-grey);
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            font-size: 1.2rem;
        }
        h5 {
            color: var(--second-grey);
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 600;
            font-style: normal;
            font-size: 1rem;
        }

        p {
            color: var(--second-grey);
            filter: contrast(5%);
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-size: 0.8rem;
        }

    }

    .trending-top {
        grid-area: top;
        padding-left: 20px;
        padding-top: 20px;
        
    }

    .new-releases {
        grid-area: main1;
        height: 100%;
        display: flex;
        flex-direction: column;
        

        .books {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            
        }

        .book {
            display: flex;
            align-items: center;
            gap: 30px;
            
        }
        .cover img {
            border-radius: 7px;
        }
    }

    .trending {
        grid-area: main2;
        height: 100%;
        display: flex;
        flex-direction: column;

        .cover img {
            border-radius: 7px;
        }

        .books {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
        }

        .book {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    } 
    .popular {
        grid-area: main3;
        height: 100%;
        display: flex;
        flex-direction: column;

        .cover img {
            border-radius: 7px;
        }

        .books {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
        }

        .book {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
}

aside {
    grid-area: aside;
    height: 200px;
    width: 1200px;
    background-color: var(--second-black);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border-radius: 14px;
    margin-top: 20px;
    background-image: url(./ad/AD.jpg);
    background-size: contain;
    background-position: center;

    h1 {
        font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            font-size: 17rem;
            filter: contrast(70%);
    }
}

.forum-rev {
    grid-area: forum-rev;
    height: 900px;
    width: 1200px;
    background-color: var(--second-black);
    justify-self: center;
    margin-top: 20px;
    border-radius: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;

    .left{
        grid-area: left;
        padding: 20px;
        .new-manga {
            height: 860px;
            width: 580px;
            border-radius: 14px;
            display: flex;
            flex-direction: column;
            gap: 23px;
        }
        .new-manga-card {
            height: 200px;
            width: 550px;
            display: flex;

            .new-manga-card-img img {
                border-radius: 5px;
            }
            .new-manga-card-text {
                align-self: center;
                margin-left: 20px;
                font-family: "Open Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 1.1rem;
                color: var(--second-grey);

                h5 {
                    font-size: 0.9rem;
                    filter: contrast(20%);
                }
                p {
                    font-size: 0.8rem;
                    filter: contrast(1%);
                }

            }
        }
    }
}

    .right {
        padding: 20px;
        grid-area: right;
        gap: 20px;
        display: grid;
        grid-template: repeat(3, minmax(150px, 1fr)) / repeat(auto-fill, minmax(200px, 1fr));

        .review-card {
            background-color: rgba(255, 7, 7, 0.177);
            border-radius: 14px;
            overflow: hidden;
            color: var(--second-grey);
        
        .review-card-img img {
            object-fit: cover;
        }
        .review > img,
        .rating > img {
            filter: brightness(0) saturate(100%) invert(78%);
        }
        .review-title {
            font-size: 1rem;
            padding: 5px 5px 3px 5px;
        }
        .review-text {
            padding: 0px 5px 3px 5px;
            font-size: 0.79rem;
            filter: contrast(10%);
        }
        .review-counter {
            margin-top: 10px;
            padding: 0px 5px 0px 5px;
            font-size: 0.75rem;
            text-align: center;
            filter: contrast(5%);
        }

        .review-rating {
            display: flex;
            gap: 20px;
            padding: 5px 5px 0px 5px;
        }

        .rating {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .review {
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .review-counter {
            display: flex;
            justify-content: space-between;
            padding: 0px 5px 0px 5px;
        }
        .views {
            display: flex;
            gap: 5px;
        }
        .likes {
            display: flex;
            gap: 5px;
        }
        
    }
}

footer {
    min-height: 180px;
    margin-top: 30px;
    padding: 30px;
    background-color: var(--second-black);
    color: var(--second-grey);
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

footer h2 {
    color: var(--main-red);
    font-size: 2rem;
    margin-bottom: 12px;
}

footer p {
    margin-bottom: 8px;
}

footer small {
    display: block;
    margin-top: 25px;
    color: #777;
}
